@import "../../style.scss";

.post {
  @include themify($themes) {
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    background-color: themed("bg");
    color: themed("textColor");
  }

  .container {
    padding: 20px !important;

    .user {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      .userInfo {
        display: flex;
        gap: 20px;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }

        .details {
          display: flex;
          flex-direction: column;

          .name {
            font-weight: 500;
          }

          .date {
            font-size: 12px;
          }
        }
      }
      .delete {
        position: absolute;
        top: 30px;
        right: 0;
        border: none;
        background-color: #f0544f;
        padding: 5px;
        cursor: pointer;
        color: white;
      }
      .updateButton {
        position: absolute;
        top: 55px;
        right: 0;
        border: none;
        background-color: #5271ff;
        padding: 5px;
        cursor: pointer;
        color: white;
      }
      .report {
        position: absolute;
        top: 30px;
        right: 0;
        border: none;
        background-color: #550b08;
        padding: 5px;
        cursor: pointer;
        color: white;
      }
    }

    .content {
      margin: 20px 0px;

      img {
        width: 100%;
        max-height: 500px;
        object-fit: cover;
        margin-top: 20px;
      }
    }

    .info {
      display: flex;
      align-items: center;
      gap: 20px;

      .item {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        font-size: 14px;
      }
    }
  }
}

.commentRP{
  @include themify($themes) {
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    background-color: themed("bg");
    color: themed("textColor");
  }

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  .comment {
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .info {
      flex: 5;
      display: flex;
      flex-direction: column;
      gap: 3px;
      align-items: flex-start;

      span {
        font-weight: 500;
      }

    }

    .date {
      flex: 1;
      align-self: center;
      color: gray;
      font-size: 12px;
    }
  }
}
